.content {
  font-family: inter;
}

.content strong {
  color: white;
  text-decoration: underline;
}

.content h2,
.content p,
.content ul,
.content ol,
.content blockquote {
  --min: 0.95em;
  --val: 2.5vw;
  --max: 1em;
  margin-bottom: 1rem;
  line-height: 1.75;
  color: #d1d5db;
}

.content h2 {
  font-size: 20px;
  color: white;
}

.content blockquote {
  border-left: 5px solid #374151;
  padding: 0.75em 10px;
  font-style: italic;
  font-weight: 500;
}

.content blockquote p {
  margin: 0;
}

.content blockquote:before {
  line-height: 0.1em;
  margin-right: 0.25em;
}
